.glyphicon
{
    font-size: 15px;
}


@media screen and (max-width:980px){
  .formheader .inner {
    min-height: 400px;
  }

  .group .inner {
    min-height: 120px;
  }

  .col-right .inner {
    min-height: 120px;
  }

  .col-right .inner:first-child {
    min-height: 260px
  }
}
